<div class="pantalla-principal justify-content-center ">
    <div class="card text-center contenedor-carta view-from-right" style="padding: 3rem;">
        <div class="card-header" style="background-color: rgb(95, 186, 228);">PERFIL
        </div>
        <div class="barra" style="background-color: rgb(236, 245, 107);">
            <div class="justify-content-center">
                <img src="{{usuario[0].paths[0]}}" class="m-2" style="height: 300px; width: 400px; background-color: rgb(95, 186, 228);" alt="">
                <img src="{{usuario[0].paths[1]}}" class="m-2" style="height: 300px; width: 400px; background-color: rgb(95, 186, 228);" alt="">
            </div>
            <p>Nombre: {{usuario[0].nombre}}</p>
            <p>Apellido: {{usuario[0].apellido}}</p>
            <p>DNI: {{usuario[0].dni}}</p>
            <p>Obra Social: {{usuario[0].obraSocial}}</p>
        </div>
    </div>
</div>