<div class="pantalla-principal justify-content-center ">
    <div class="card text-center contenedor-carta view-from-right" style="padding: 0.5rem;">
        <div class="card-header" style="background-color: rgb(95, 186, 228);">PERFIL
        </div>
        <div class="barra" style="background-color: rgb(236, 245, 107);">
            <div class="justify-content-center">
                <img src="{{usuario[0].paths[0]}}" class="m-2" style="height: 120px; width: 200px; background-color: rgb(95, 186, 228);" alt="">
                <img src="{{usuario[0].paths[1]}}" class="m-2" style="height: 120px; width: 200px; background-color: rgb(95, 186, 228);" alt="">
            </div>
            <p>Nombre: {{usuario[0].nombre}}</p>
            <p>Apellido: {{usuario[0].apellido}}</p>
            <p>DNI: {{usuario[0].dni}}</p>
            <p>Obra Social: {{usuario[0].obraSocial}}</p>
        </div>
    </div>
    <div style="max-height: 450px; overflow-y: auto;">
        <div *ngFor="let turnoAux of this.turno; index as i" >
            <div id="pdf" *ngIf="turnoAux.estadoTurno == 'finalizado'" style="background-color: black; padding: 0.5rem;  ">
                <div  class="card text-center contenedor-carta view-from-right m-2" style="background-color: rgb(112, 174, 228); border-radius: 30px;">
                    <div class="justify-content-center">
                        <img src="../../../../../favicon.ico" style="height: 80px; width: 80px;"  alt="">
                    </div>
                    <p style="font-size: 30px;">HISTORIAl MEDICO</p>
                    <p style="font-size: 15px;">Especialista: {{turnoAux.especialista}}</p>  
                    <p>{{obtenerFechaFormateada(turnoAux.dia)}}</p>                  
                    <p>Altura: {{turnoAux.historialMedico.altura}} m</p>
                    <p>Peso: {{turnoAux.historialMedico.peso}} kg</p>
                    <p>Edad: {{turnoAux.historialMedico.edad}}</p>
                    <p>Presion: {{turnoAux.historialMedico.presion}}</p>
                    <p>Diagnostico: {{turnoAux.historialMedico.diagnostico}}</p>
                    <p>Sexo: {{turnoAux.historialMedico.sexo}}</p>
                    <p>{{turnoAux.historialMedico.clave1}} : {{turnoAux.historialMedico.valor1}}</p>
                    <p>{{turnoAux.historialMedico.clave2}} : {{turnoAux.historialMedico.valor2}}</p>
                    <p>{{turnoAux.historialMedico.clave3}} : {{turnoAux.historialMedico.valor3}}</p>
                    <div class="justify-content-center">
                        <button class="btn btn-dark" style="width: 250px; background-color: rgb(218, 70, 70); border-radius: 15px;" (click)="crearPDF()">Descargar PDF</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>